body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 111, 67);
    color: white;
    display: grid;
}
#logo{
    margin: 10px 20px;
    zoom: 10%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
}
#header-container{
    display: block;
    justify-content: space-between;
    align-items: center;
}
#tittles{
    color: black;
    margin: 0;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    
}
nav{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s, margin-bottom 0.3s;

}
nav ul li a:hover{
    color: rgb(233, 111, 67);
    margin-bottom: 5px;

}
/*--main content styles --*/
main{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;

}
main h1{
    margin-bottom: 20px;
}
#welcome-section h1{
    font-size: 50px;
    margin-bottom: 10px;
}
#welcome-section p{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;

}
#welcome-section{
    text-align: center;
    margin-bottom: 40px;

}

#search-holder{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    zoom: 200px;


}
#search-bar{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;

}
#search-button{
    background-color: rgb(233, 111, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;

}



/*--filter search bar --*/
#filters-section{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
#filter-by-category{
    margin-right: 20px;
    align-items: center;
    align-content: center;
}
#filter-by-category h2{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

}
#category-buttons a button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

}
#category-buttons a button:hover{
    background-color: rgb(200, 90, 50);

}
#popular-products h2{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
#category-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/*--products section --*/
#products-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}
.product-card{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;


}
.product-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s;


}
.product-card h2{
    font-size: 24px;
    margin-top: 10px;
}
.product-card h3{
    font-size: 20px;
    color: rgb(233, 111, 67);
}

.product-card img{
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;           
    
}
.product-card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;

}
.product-card h2, .product-card p{
    margin: 10px 0;

}
.product-card h3{
    margin: 10px 0 5px 0;
}
.product-card p{
    margin: 5px 0;
}
.product-card button{
    background-color: rgb(233, 111, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.product-card button{
    background-color: rgb(233, 111, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover{
    background-color: rgb(200, 90, 50);

}
/*item details page styles --*/
#item-details-section{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;

}
#item-details-section h2{
    text-align: center;
}
#item-details-section img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 80%;

}

#item-details-section p{
    line-height: 1.6;
    margin-bottom: 20px;
    
    

}
#item-details-section p strong{
    color: orangered;
}

#contact-links{
    display: flex;
    justify-content: center;
    gap: 50px;
   
    
}
#contact-links a{
    text-decoration: none;
    color: black;
}
#contact-links a:hover{
    color: orangered;
}
#contact-links a::after{
    color: blue;
}
#contact-links h2:hover{
    color: orangered;

}




/*--footer --*/
footer{
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    

} 

footer div{
    margin-bottom: 10px;
}
footer p{
    margin: 0;


}
#footer a{
    color: rgb(233, 111, 67);
    text-decoration: none;

}
#footer a:hover{
    text-decoration: underline;
    color: rgb(200, 90, 50);
    cursor: pointer;


}
/*--hover effects --*/nav ul li a:hover{
    color: rgb(233, 111, 67);
    margin-bottom: 5px;
    transition: color 0.3s, margin-bottom 0.3s;
}

/*--responsive design --*/

@media (max-width: 600px){
    body{
        zoom: 0%;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #products-section{
        grid-template-columns: 1fr;
    }
    #search-holder{
        flex-direction: column;
    }
    #search-button{
        margin-left: 0;
        margin-top: 10px;
    }
    #filters-section{
        flex-direction: column;
        gap: 10px;
    }
    #filter-by-category{
        margin-right: 0;
    }
    
    .product-card:hover{
        transform: none;
        box-shadow: none;
    }
    .product-card h2{
        font-size: 20px;
    }
    #product-card img:hover{
        transform: none;
    }
    
    nav{
        font-size: 20px;
    }
    #tittles{
        font-size: 16px;
    }
    #tab-links{
        zoom: 80%;
    }


    

}


/*--about page styles --*/
#about-section{
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
}
#about-section h2{
    text-align: center;
}
#about-section p{
    line-height: 1.6;
}
/*--contact page styles --*/
#contact-section{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#contact-section h2{
    text-align: center;
}
#contact-section a{
    color: rgb(233, 111, 67);
    text-decoration: none;
}
#contact-section a:hover{
    text-decoration: underline;
}
#contact-section p{
    line-height: 1.6;

}
/*--sell item page styles --*/
#sell-item-section{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#sell-item-section h2{
    text-align: center;
}
#sell-item-section form{
    display: flex;
    flex-direction: column;
}
#sell-item-section label{
    margin-bottom: 5px;
    font-weight: bold;
}
#sell-item-section input, #sell-item-section textarea, #sell-item-section select{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#sell-item-section button{
    background-color: rgb(233, 111, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
#sell-item-section button:hover{
    background-color: rgb(200, 90, 50);

}
#items-in-stock{
     max-width: 600px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;

}
#items-in-stock button{
    border-radius: 4px;
    margin-left: 10px;

}

